dn: cn=config
changetype: modify
replace: olcTLSCACertificateFile
olcTLSCACertificateFile: /etc/ssl/certs/gislab_ca.pem
-
replace: olcTLSCertificateFile
olcTLSCertificateFile: /etc/ssl/certs/gislab_slapd.pem
-
replace: olcTLSCertificateKeyFile
olcTLSCertificateKeyFile: /etc/ssl/private/gislab_slapd.key
-
replace: olcSecurity
olcSecurity: ssf=64
