dn: ou=Groups,dc=gis,dc=lab
objectClass: organizationalUnit
ou: groups

dn: cn=gislabadmins,ou=Groups,dc=gis,dc=lab
objectClass: posixGroup
cn: gislabadmins
gidNumber: 3000
description: GIS.lab Admins Group

dn: cn=gislabusers,ou=Groups,dc=gis,dc=lab
objectClass: posixGroup
cn: gislabusers
gidNumber: 3001
description: GIS.lab Users Group
